/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* font */
body {
    font-family: 'Roboto', sans-serif;
}
/* --- --- --- */
/* background */
#background-top {
    height: 15vh;
    background-color: #009688;
}
#background-bottom {
    height: 85vh;
    background: linear-gradient(#dddbd1 , #d2dbdc);
}
/* wrapper & app*/
#wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

    height: 95vh;
    width: 80%;
    margin: auto;
    background-color: aqua;
}
#app {
    width: 100%;
    height: 100%;
}
/* /wrapper & app */
/* LEFT & RIGHT common */
#left {
    float: left;
    height: 100%;
    width: 35%;
    background-color: blue;
}
#right {
    float: left;
    height: 100%;
    width: 65%;
    background-color: aquamarine;
}
/* nav */
#nav {
    height: 70px;
    background-color: #eaeaea;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
#nav-icons i {
    color: #b1b1b1;
    font-size: 20px;
    margin-right: 20px;
}
#user,
#current-contact {
    display: flex;
    align-items: center;
}
.avatar-container img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
/* /nav */
/* /LEFT & RIGHT common */
/* LEFT */
/* notification */
#notification {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #8edafc;
    padding-left: 20px;
}
#notification-icon i {
    font-size: 20px;
    color: #8edafc;
    padding: 15px;
    background-color: white;
    border-radius: 100%;
}
#notification-text {
    margin-left: 20px;
}
#notification-text span {
    display: block;
}
#notification a {
    color: gray;
}
/* search bar */
#search-bar {
    height: 50px;
    padding: 10px;
    background-color: #fafafa;
    display: flex;
}
#search-bar-text {
    width: 100%;
    height: 100%;
}
#search-bar-button {
    width: 20%;
    border: 1px solid #f5f5f5;
    background-color: white;
    color: gray;
    border-right: none;
    font-size: 18px;
}
#search-bar-text input{
    width: 100%;
    height: 100%;
    border: 1px solid #f5f5f5;
}
/* Contacts List */
#contacts {
    height: calc(100% - 70px - 80px - 50px);
    background-color: white;
    overflow-y: auto;
}

.contacts-item {
    padding: 10px 20px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid lightgrey;
}
.active {
    background-color: #e9ebeb;
}
.contact-avatar img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
}
.contact-info span {
    display: block;
    margin-left: 20px;
}

.contact-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.date,
.contact-last-message {
    font-size: 12px;
    color: lightgray;
}
.date {
    margin-left: auto;
}

.message-info {
    margin-left: auto;
}
/* RIGHT */
/* nav */
#current-contact-info span {
    display: block;
}
#current-contact-last-acces {
    color: gray;
    font-size: 12px;
}
/* CHAT */
#chat-container {
    height: calc(100% - 70px);
}
#chat-text {
    height: calc(100% - 70px);
    overflow-y: auto;  
    background-image: url(../img/mine.jpg);
    padding: 50px;

    display: flex;
    flex-direction: column;
}

.message {
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}
.message-text {
    align-self: flex-start;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-right: 50px;

}
.message-date {
    align-self: flex-end;
    padding-bottom: 5px;
    color: lightgray ;
    font-size: 12px;
}
.sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}
.received {
    background-color: white;
    align-self: flex-start;
}


#chat-message {
    height: 70px;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#chat-input {
    width: 80%;
    height: 75%;
}
#chat-input input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    border: none;
    font-size: 18px;
    padding: 0 10px;
}
.chat-icon i {
    font-size: 25px;
    color: #b1b1b1;
}